.topicos--titulo{
   font-size: 1rem;
   font-weight: 300;
   line-height: 1.24rem;
   color: var(--white);
   text-transform: uppercase;
   text-align: center;

   margin-bottom: 2rem;
}

.topicos--lista{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 1rem;
}

.topicos--lista--item{
   background-color: var(--orange);
   padding: 1em 1.5em;
}

.topicos--lista--item--link{
   text-decoration: none;
   color: var(--white);
   font-size: .875rem;
   font-weight: 700;
   line-height: 1.25em;
}